<p id="notice"><%= notice %></p>

<h1 class="ui center aligned header">SMN - Customers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.full_name, customer %></td>
        <td><%= customer.phones.last.number %></td>
        <td><%= customer.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Customer", new_customer_path, class: "btn btn-primary"%>
