<p id="notice"><%= notice %></p>

<h1 class="ui center aligned header">SMN - Customers</h1>

<table class="ui celled selectable right aligned table">
  <thead>
    <th class="center aligned">Full Name</th>
    <th class="center aligned">Phone</th>
    <th class="center aligned">Email</th>
    <th class="center aligned">Postcode</th>
    <th class="center aligned">Address</th>
    <th class="center aligned">City</th>
    <th class="center aligned">Country</th>
    <th colspan="2" class="center aligned">Actions</th>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td class="center aligned"><%= customer.full_name %></td>
        <td class="center aligned"><%= customer.phone %></td>
        <td class="center aligned"><%= customer.email %></td>
        <td class="center aligned"><%= customer.postcode %></td>
        <td class="center aligned"><%= customer.address %></td>
        <td class="center aligned"><%= customer.city %></td>
        <td class="center aligned"><%= customer.country %></td>
        <td><%= link_to 'Show', customer , class: "blue ui mini compact button"%></td>
        <td><%= link_to 'Edit', edit_customer_path(customer), class: "orange ui mini compact button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path, class: "green ui small button" %>
