<p id="notice"><%= notice %></p>

<p>
  <strong>Full Name:</strong>
  <%= @customer.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phones.last.number %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @customer.customer_comment %>
</p>
<hr/>
<p>
  <strong>Addresses:</strong>
  <% if !@customer.addresses.empty? %>
    <ol>
      <% @customer_addresses.reverse_each do |address| %>
        <li><%= link_to address.address_line, edit_customer_address_path(@customer, address) %>
          <% if address.quote %>
             Bike: <%= number_to_currency(CourierRate.where(postcode: address.postcode_half, vehicle: "bike").first.price, unit: "£", separator: ",")%>
             Car:  <%= number_to_currency(CourierRate.where(postcode: address.postcode_half, vehicle: "car").first.price, unit: "£", separator: ",") %>
          <% end %>
      <% end %>
    </ol>
  <% end %>
</p>

<hr>
<br>
<strong>Orders</strong>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Date</th>
      <th scope="col">Total</th>
      <th scope="col">Invoice</th>
      <th scope="col">Created by</th>
    </tr>
  </thead>
  <tbody>
    <% @customer_orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, customer_order_path(@customer, order) %></td>
        <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= number_to_currency(order.total, unit: "£", separator: ",") %></td>
        <td><%= order.invoice %></td>
        <td>Fabio</td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-success" %> |
<%= link_to 'Back', customers_path, class: "btn btn-secondary"%> |
<%= link_to 'New address', new_customer_address_path(@customer), class: "btn btn-primary" %> |
<%= link_to 'New order', new_customer_order_path(@customer), class: "btn btn-primary" %>
