<p id="notice"><%= notice %></p>

<p>
  <strong>Full Name:</strong>
  <%= @customer.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @customer.comment %>
</p>

<p>
  <strong>Full address:</strong>
  <% if !@customer.addresses.empty? %>
    <%= @customer.addresses.first.full_address %>
  <% end %>

</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path, :class => 'ui grey button'%>

<%= link_to 'New address', new_customer_address_path(@customer) %>
