<p id="notice"><%= notice %></p>

<h1 class="ui center aligned header">SMN - Orders</h1>

<table class="ui celled selectable right aligned table">
  <thead>
      <th class="center aligned">Items</th>
      <th class="center aligned">Postage Method</th>
      <th class="center aligned">Total</th>
      <th class="center aligned">Invoice</th>
      <th class="center aligned">Comments</th>
      <th class="center aligned">Created at</th>
      <th colspan="2"></th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="center aligned"><%= order.item %></td>
        <td class="center aligned"><%= order.postage_method %></td>
        <td class="center aligned"><%= order.total %></td>
        <td class="center aligned"><%= order.invoice %></td>
        <td class="center aligned"><%= order.comment %></td>
        <td class="center aligned"><%= order.created_at %></td>
        <td><%= link_to 'Show', customer_order_path(order.customer, order) , class: "blue ui mini compact button"%></td>
        <td><%= link_to 'Edit', edit_customer_order_path(order.customer, order), class: "orange ui mini compact button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
