<h1 class="display-5">Edit address</h1>
<p class="lead"><%= @customer.full_name %></p>
<%= simple_form_for [@customer, @address] do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.addresses.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
      <% @customer.addresses.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron">
    <%= render 'form', address: @address %>
  </div>
<%= f.submit "Submit", class: "btn btn-primary"%>
<% end %>
<%= link_to 'Back', customer_addresses_path, class: "btn btn-secondary" %>
