<h1 class="display-5">Edit address</h1>
<p class="lead"><%= @customer.full_name %></p>
<%= simple_form_for [@customer, @address] do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.addresses.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
      <% @customer.addresses.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron">
<div class="form-group">
  <label> Type </label>
  <%= f.select :address_type, ["Billing/Shipping", 'Shipping', 'Billing'], :class => 'form-control'%>
</div>

<div class="form-group">
  <label>House Number/Name</label>
  <%= f.text_field :line_1, placeholder: "House Number/Name", :class => 'form-control'%>
</div>

<div class="form-group">
  <label>Street</label>
  <%= f.text_field :line_2, placeholder: "Street", :class => 'form-control'%>
</div>

<div class="form-group">
  <label> City </label>
  <%= f.text_field :city, placeholder: "City", :class => 'form-control'%>
</div>

<div class="form-group">
  <label> Country </label>
  <%= f.text_field :country, placeholder: "Country", :class => 'form-control'%>
</div>


<div class="form-group">
  <label> Postcode </label>
  <%= f.text_field :postcode, placeholder: "Postcode", :class => 'form-control'%>
</div>
</div>
<%= f.submit "Submit", class: "btn btn-primary"%>
<% end %>
<%= link_to 'Back', customer_addresses_path, class: "btn btn-secondary" %>
