<p id="notice"><%= notice %></p>

<h1 class="ui center aligned header">Addresses</h1>

<table class="ui celled selectable right aligned table">
  <thead>
    <th class="center aligned">Line 1</th>
    <th class="center aligned">City</th>
    <th class="center aligned">Country</th>
    <th class="center aligned">Type</th>
    <th class="center aligned">Postcode</th>
    <th colspan="2" class="center aligned">Actions</th>
  </thead>

  <tbody>
    <% @customer_addresses.each do |address| %>
      <tr>
        <td class="center aligned"><%= address.line_1 %></td>
        <td class="center aligned"><%= address.city %></td>
        <td class="center aligned"><%= address.country %></td>
        <td class="center aligned"><%= address.address_type %></td>
        <td class="center aligned"><%= address.postcode %></td>
        <td class="center aligned"><%= link_to 'Show', customer_address_path(address.customer, address), class: "blue ui mini compact button" %></td>
        <td class="center aligned"><%= link_to 'Edit', edit_customer_address_path(address.customer, address), class: "orange ui mini compact button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_customer_address_path, class: "btn btn-primary" %>
