<p id="notice"><%= notice %></p>

<p>
  <strong>Line 1:</strong>
  <%= @address.line_1 %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>Type:</strong>
  <%= @address.address_type %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @address.postcode %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @address.customer_id %>
</p>

<%= link_to 'Edit', edit_customer_address_path(@address), class: "ui button green" %> |
<%= link_to 'Back', customer_address_path, :class => 'ui button' %>
