<!DOCTYPE html>
<html>
  <head>
    <title>SMN - Customers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/notifications' %>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <%= link_to "Santa Maria Novella", root_path, :class => "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Customers", customers_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Orders", orders_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" data-behavior="autocomplete">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
              <%= link_to "New Customer", new_customer_path, class: "btn btn-primary"%>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">

    <%= yield %>

    </div>

  </body>

</html>
